@import '@/theme/index.less';

.drop_down_wrapper {
  position: relative;
  .suffix_icon_style {
    transform: rotate(0);
    transition: transform 0.2s linear;
  }
  &:hover {
    .suffix_icon_style {
      transform: rotate(180deg);
    }
  }
  .expand {
    max-height: 200px;
  }

  .collapse {
    max-height: 0;
  }

  .drop_down_panel {
    .boxStyle();
    position: absolute;
    width: fit-content;
    max-width: 90%;
    left: 0;
    margin-top: 4px;
    overflow: hidden;
    background-color: #fff;
    text-align: left;
    z-index: 99;
    transition: max-height 0.3s linear;

    & :hover {
      .hover_contentStyle();
    }
  }

  .drop_down_item {
    padding: 8px 12px;
    cursor: pointer;

    &:hover {
      .hover_contentStyle();
    }
  }
}
