.nav_bar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 16px;
}
.nav_bar_wrapper .nav_bar_left {
  font-size: 18px;
  font-weight: 600;
}
.nav_bar_wrapper .nav_bar_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
